/* <!-- IMAGE CODE CSS [ADD 1] --> */

.sec-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-img img {
  width: 60%;
}

/* <!-- IMAGE CODE CSS [ADD 1] END --> */

/* <!-- CATEGORY CSS CODE START --> */

.category {
  font-family: serif;
  font-weight: bolder;
}
.category-title {
  text-align: center;
  font-family: serif;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  margin: 50px;
}
.category-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.category-item img {
  width: 60%;
}
.category-item p {
  margin-top: 10px;
}

/* <!-- CATEGORY CSS CODE END --> */

/* <!-- IMAGE CODE CSS [ADD 3] --> */

.add-third {
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-third img {
  width: 80%;
  height: 40vh;
}

/* <!-- IMAGE CODE CSS [ADD 3] END --> */

/* <!-- IMAGE CODE CSS [ADD 4] --> */

.add-fourth img {
  width: 100%;
  margin-top: 20px;
}

/* <!-- IMAGE CODE CSS [ADD 4] END --> */

.fa-user {
  font-size: 28px !important;
  color: #002f34;
  margin-left: 20px;
  margin-right: 10px;
  cursor: pointer;
}
/* .fade{
  display: flex !important;
} */

/* Modal overlay */
#modal-overlayy {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1000;
}
/* Modal */
#profile {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  display: none; /* Initially hidden */
  z-index: 1001;
}
/* Prevent scrolling */
.no-scroll {
  overflow: hidden;
}
