body {
    background: #222;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 20px;
    font-size: 38px;
    padding: 8px 0;
  }
  ul {
    display: inline-block;
  }
  li {
    list-style: none;
    border-bottom: 13px solid turquoise;
    padding: 0 0 4px 16px;
    margin: 0 0 4px;
  }