/* p{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 200%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-style: italic;
} */


/* .abc{
    background-color: black;
    color: white;
}

.def{
    background-color: blue;
    color: white;
}

#abc{
    background-color: green;
    color: white;
    font-weight: bolder;
    font-size: 200%;
} */
/* 
#abc,.abc1{
    background-color: black;
    color: white;
} */

/* #abc{
    background-color: black;
    color: white;
    margin: 200px;
    font-size: 150%;
    padding: 5%;
    border: 10px solid blue;
    border-right: 12px solid green;
    border-left: 12px groove yellow;
    border-radius: 0px 20px 40px 60px; */

    /* box-shadow: -10px -10px 20px red; */
    /* box-shadow: 0px 0px 20px red; */
    
    
    /* border-radius: 10px 20px 30px 100px; */
    /* line-height: 200%; */
    /* margin: 10px 20px 30px 40px; */
    /* margin-top: 20px; */
/* } */