body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
    /* background-image: url("https://gttp.imgix.net/352610/x/0/14-best-pampanga-restaurants-culinary-capital-of-the-philippines-28.jpg?auto=compress%2Cformat&ch=Width%2CDPR&dpr=1&ixlib=php-3.3.0&w=883");
    background-repeat: no-repeat;
    /* background-size: 100%; */
    /* width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center top; */
  } 

  .parentContainer {
    position: relative;
    text-align: center;
    color: white;
    
    }
    .parentContainer img{
    width: 100%;

    }

    .well{
        font-size: 56px;
    }
    
  
    .small{
        font-size: 30px;
        margin-top: -36px;
        color: white;
        text-shadow: 10px 10px 10px rgb(0, 0, 0);

    }
    
    .msr{
        margin-top: -43px;
    font-size: 52px;
    }
   
    .centered {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-transform: uppercase;
        font-style: italic;
        text-shadow: 10px 5px 5px white;
        color: #000000;
    position: absolute;
    top: 25%;
    left: 22%;
    }

  .logo{
    width: 5%;
  }
  
  a {
    color: #000;
  }
  
  .text{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%)
  }
  /* .well{
    font-size: 30px;
  } */
  /* header */
  
  .header {
   right: 8%;
    background-color: #fafafa;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
   left: 8%;
    top: 7%;
  z-index: 1;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
 .menu {
    font-size: 21px;
    font-family: fangsong;
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    font-weight: bold;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 1050px) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }
  
  @media (max-width: 800px ) {
.header{
    top: 5%;
}
  }
  @media (max-width: 900px ) {
    .header{
        top: 5%;
    }
      }
      @media (max-width: 600px ) {
        .header{
            top: 3%;
          
        }
          }