.img-1 {
  width: 90%;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left {
  position: relative;
  top: 80px;
  margin-left: 40px;
  width: 50%;
}
.right {
  position: relative;
  top: 60px;
  margin-left: 40px;
  width: 45%;
}
.left p {
  font-size: 12px;
  color: white;
  margin-top: 5px;
  font-weight: 400;
}
.left button {
  background-color: #f7b41a;
  border: none;
  border-radius: 50px;
  height: 35px;
  width: 120px;
  color: white;
  font-weight: 600;
  margin-top: 30px;
  cursor: pointer;
}
.img-2 img {
  width: 50%;
  margin-top: 20px;
}
.img-3 {
  width: 80%;
  margin-left: 30px;
}
.img-4 {
  display: flex;
  justify-content: end;
  position: relative;
  bottom: 260px;
}
.img-4 img {
  width: 20%;
  position: relative;
  top: 200px;
}
.img-5 {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 220px;
}
.img-5 img {
  width: 30%;
  position: relative;
  left: 200px;
}
.img-6 {
  display: flex;
  justify-content: end;
  position: relative;
}
.img-7 {
  display: flex;
  justify-content: end;
}
.img-7 img {
  position: absolute;
  top: 120px;
  margin-right: 40px;
}
.w-d {
  width: 30% !important;
}
.img-8 {
  position: absolute;
  top: 120px;
  left: 55%;
}

.dropbtn {
  background-color: transparent;
  color: white;
  font-size: 12px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  color: #202021;
  text-decoration: none;
  font-weight: 500;
  height: 30px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  display: block;
  border-radius: 10px;
  font-size: 12px;
}

.dropdown-content a:hover {
  background-color: #f7b41a;
}

.dropdown:hover .dropdown-content {
  display: block;
}
