* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  scroll-behavior: smooth;
}
/* navbar */
.logo {
  margin-left: 70px;
  padding-left: 25px;
  width: 165px;
}

.navbar {
  background-color: black;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 255, 255);
  top: 0;
  padding-top: 0;
  font-family: "Times New Roman", Times, serif;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 15px;
  padding-right: 40px;
}

.nav-list li {
  margin: 0 25px;
}

.nav-list a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.menu-toggle {
  font-size: 33px;
  cursor: pointer;
  display: none;
  align-items: start;
}

.nav-list a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  position: relative;
}

.nav-list a:hover {
  text-decoration: underline;
}

.nav-list a:hover {
  text-decoration: none;
  border-bottom: 2px solid rgb(255, 255, 255);
}

.btnn a {
  text-decoration: none;
  color: white;
}

#frstbtn {
  background-color: #000000;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-size: 14px;
  width: 118px;
  font-weight: 400;
  height: 44px;
  border-radius: 35px;
  border: 1px solid #fff;
  position: absolute;
  right: 149px;
}

#scndbtn {
  /* padding: 18px 21.5px 18px 21.5px;
  font-size: 14px;
  font-weight: 400;
  background-color: red;
  color: rgb(255, 246, 246);
  background-color: #ed1c24;
  border-radius: 35px;
  border: 1px solid #ed1c24; */
  background-color: #ed1c24;
  font-weight: 400;
  color: rgb(255, 246, 246);
  /* padding: 18px 21.5px 18px 21.5px; */
  font-size: 14px;
  width: 118px;
  font-weight: 400;
  height: 44px;
  border-radius: 35px;
  border: 1px solid #fff;
}

/* navbar end  */

/* slider  */
* {
  box-sizing: border-box;
}

.mySlides {
  display: none;
}

.slideimg {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

/* Media Query */

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/* end navbar */

/* slider */

.carousel-indicators button {
  background-color: white !important;
  height: 4px !important;
}

/* end slider */
/* firstCardDiv */
.firstCardDiv {
  padding: 50px 40px;
  background-color: black !important;
}

.cardHeadingDiv h2,
.restaurantHeadDiv h2 {
  line-height: 50px;
}

.cardHeadingDiv h2 span,
.restaurantHeadDiv h2 span {
  font-size: 50px;
}

.cardMainDiv {
  padding: 20px 120px;
  justify-content: space-between;
}

.cardDiv {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cardImg {
  height: 150px;
  background-color: white;
  padding: 0 20px;
  border-radius: 5px;
}

.cardImg img {
  object-fit: contain;
}

.cardDiv button {
  width: 50%;
  margin: 10px auto;
  background-color: transparent;
  border: 1px solid gray;
  padding: 8px 0;
  border-radius: 20px;
  font-size: 13px;
}

/* end firstCardDiv */
/* restaurantMainDiv */
.restaurantMainDiv {
  padding: 50px 40px;
  background-color: #000000;
  color: white;
}

.cityName {
  color: red;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
}

.detailDiv h3 span {
  font-size: 32px;
  font-weight: bold;
}

.addressPara,
.callDetail {
  color: rgba(255, 255, 255, 0.7);
}

.cityDiv {
  justify-content: space-evenly;
  padding: 20px 40px;
  margin: 20px 0;
}

.cityDiv .detailDiv button {
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 20px;
  gap: 15px;
  align-items: center;
  border: 1px solid gray;
  transition: all 0.5s;
}

.cityDiv .detailDiv button:hover {
  background-color: gray;
}

.cityDiv .detailDiv button img {
  width: 20px;
  margin-right: 10px;
}

.cityDiv .imgDiv img {
  object-fit: contain;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.cityDiv .detailMainDiv {
  display: flex;
  align-items: center;
}

/* end restaurantMainDiv */

/* expressMainDiv */
.expressMainDiv {
  background-color: black !important;
}
.expressHeadDiv {
  top: 30px;
  position: relative;
}
.expressHeadDiv h2 span {
  font-size: 48px;
}

.expressMainDiv .cardMainDiv .imgDiv img {
  width: 100%;
  height: 100%;
}

.expressMainDiv .cardMainDiv .detailMainDiv .detailDiv {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.expressMainDiv .cardMainDiv .detailMainDiv .detailDiv p {
  margin-bottom: 0;
}

.expressName {
  color: red;
  font-size: 20px;
  letter-spacing: 2px;
}

.expressHeading {
  font-size: 22px;
}

.expressHeading span {
  font-size: 30px;
}
.nav-list {
  z-index: 10000;
}
.expressMainDiv .detailDiv button {
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid gray;
  display: flex;
  gap: 15px;
  padding: 10px 20px;
  justify-content: center;
  width: fit-content;
  margin: auto;
}

.expressMainDiv .detailDiv button img {
  width: 25px;
}
.bg-body-tertiary {
  background-color: #000000 !important;
  color: white !important;
}

/* end expressMainDiv */

@media (max-width: 991px) {
  .collapse {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .cardMainDiv {
    justify-content: center;
    padding: 20px 50px;
  }
  .nav-list {
    top: 54px !important;
  }
  .cardDiv {
    margin: 10px 0;
  }

  .cityDiv {
    padding: 20px 20px;
    gap: 15px;
  }

  .cityDiv .detailMainDiv {
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .firstCardDiv,
  .restaurantMainDiv {
    padding: 50px 20px;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 98.333333% !important;
  }
}

@media (max-width: 320px) {
  .carousel-item img {
    height: 300px;
  }

  .cardMainDiv {
    padding: 20px 0;
  }
}
@media (max-width: 900px) {
  .col-md-4 {
    flex: 0 0 auto;
    width: 49.333333%;
  }
}
/* Navbar  */
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

@media (max-width: 1100px) {
  .nav-list {
    padding-left: 10px;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 72px;
    margin: 0;
    height: 100vh;
    padding: 0;
    font-weight: bolder;
    font-size: 20px;
    width: 100%;
    background-color: #000000;
    text-align: center;
    box-shadow: 0 0px 6px rgba(183, 178, 178, 0.996);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  .navbar {
    justify-content: center;
    align-items: center;
  }

  .logo {
    padding-left: 25px;
    width: 150px;
    margin: auto;
  }

  .nav-list.show {
    display: flex;
  }

  .nav-list li {
    margin: 100px 0;
  }

  .nav-list li a {
    color: rgb(255, 255, 255) !important;
    left: 10px;
  }

  #frstbtn {
    display: none;
  }

  #scndbtn {
    padding: 10px;
    position: absolute;
    top: 12px;
    right: 18px;
  }

  #scndbtn a {
    border-radius: 23px;
    padding: 3px 5px;
    color: #fff;
    margin-right: 1px;
  }

  .menu-toggle {
    display: flex;
    position: absolute;

    left: 18px;
    font-size: 35px;
  }

  .nav-list a:hover {
    text-decoration: none;
    border-bottom: 2px solid rgb(255, 255, 255);
  }
}

@media (max-width: 700px) {
  .menu-toggle {
    display: flex;
    position: absolute;

    left: 18px;
    font-size: 35px;
  }

  #scndbtn {
    display: flex;
    top: 5px;
    padding: 7px 10px 7px 10px;
    font-size: 13px;
    width: 102px;
    height: 42px;
  }

  .logo {
    display: flex;
    margin-right: 57px;
    width: 115px;
  }
}
@media (max-width: 450px) {
  #scndbtn {
    display: flex;
    top: 7px;
    padding: 5px 10px 7px 10px;
    font-size: 10px;
    width: 89px;
    height: 33px;
  }
  .menu-toggle {
    display: flex;
    position: absolute;
    left: 15px;
    top: 3px;
    font-size: 27px;
  }
  .logo {
    margin-top: 2px;
  }
}
